/* Site palette */
$color-primary-1: #28223b;
$color-primary-2: #a2fee9;
$color-primary-2-2: #78d1bb;
$color-primary-3: #ffefb1;
$color-primary-4: #ee65dc;
$color-primary-5: #ab41ab;

/* Typo colors */
$color-typo-1: #ffeb82;
$color-typo-2: #1e183b;
$color-typo-3: #58626C;
$color-typo-4: #A6AEB7;

/* Helper colors */
$color-black: #000;
$color-white: #fff;

/* Helper assets */
$image-assets: './assets/img/';

/* Fonts */
$gothamrounded: 'gothamrounded', Arial, sans-serif;
$font-base: './assets/fonts/';
