@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1.01); }
  40% { transform: scale(1.02); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.02); }
  80% { transform: scale(1.01); }
  100% { transform: scale(1); }
}
.pulse {
  animation: pulse_animation 1s infinite;
}

@keyframes blink {
  50% { opacity: 0.8; }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
