html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1;
  height:100%;
  width:100%;
}

body {
  background: $color-primary-1;
  font-size:16px;
  color: $color-typo-1;
  height:100%;
  width:100%;
  background: url($image-assets + 'bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#app {
  font-family: $gothamrounded;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.align {
  margin: 10vh auto 0 auto;
  text-align: center;

}
.wrapper {
  background: url($image-assets + 'table.png') no-repeat center center;
  width: 1126px;
  height: 765px;
  position: relative;
  display: inline-block;
}

textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
