.slot-machine {
  width: 1126px;
  height: 765px;
}

.slot-wrapper {
  background: url($image-assets + 'table.png') no-repeat center center;
  position: relative;
  width: 1126px;
  height: 765px;
}

.slot-container {
  display: flex;
  flex-wrap:wrap;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 171px;
  left: 353px;
}
.slot-container:before {
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
  position: absolute;
  top:0; left:0;
  width: 100%;
  height: 150px;
  content: '';
  z-index: 1;
}
.slot-container:after {
  background: linear-gradient(to top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
  position: absolute;
  bottom:0; left:0;
  width: 100%;
  height: 150px;
  content: '';
  z-index: 1;
}

.slot {
  margin: 0;
}

.slot__window {
  width: 140px;
  height: 360px;
  overflow: hidden;
  box-sizing: border-box;
  border-right: 2px solid #d9c692;
  border-left: 2px solid #d9c692;
}

.slot__item {
  padding: 30px 0;
  height: 120px;
  width: 140px;
  text-align: center;
  background-color: $color-primary-3;
  line-height: 120px;
}

.btn-spin {
  position: absolute;
  bottom: 84px;
  right: 90px;
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  width:231px;
  height: 119px;
  background: url($image-assets + 'btn-active.png') no-repeat center center;
}

.btn-spin:disabled {
  background: url($image-assets + 'btn-dis.png') no-repeat center center;
  cursor: default;
  animation: none;
}

.balance {
  position: absolute;
  bottom: 127px;
  left: 380px;
  font-size: 36px;
  text-align: center;
  width: 370px;
}
.balance span {
  font-weight: bold;
  color: $color-white;
}
.win {
  display: none;
  position: absolute;
  bottom: 262px;
  left: 95px;
  font-size: 24px;
  text-align: center;
  width: 215px;
}
.win span {
  display: block;
}
.win-total {
  color: $color-white;
  font-weight: bold;
}
.win-line {
  position: absolute;
  height: 3px;
  width: 96%;
  left: 2%;
  border-radius: 5px;
  background: $color-primary-4;
  border: 2px solid $color-primary-5;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.8);
  z-index: 10;
}
.win-line-top {
  top: 95px;
  display: none;
}
.win-line-center {
  top: 175px;
  display: none;
}
.win-line-bottom {
  top: 275px;
  display: none;
}

.debug {
  position: absolute;
  top: 714px;
  right: 110px;
  width: 390px;
  background: $color-primary-2;
  color: $color-typo-2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 23px 39px -1px rgba(0,0,0,0.3);
}
.btn-debug {
  padding: 5px;
  margin: 0;
  cursor: pointer;
}
.debug-content {
  line-height: 2em;
  display: none;
  padding: .3em 1em;
  text-align: left;
  border-top: 1px dotted $color-primary-2-2;
}
.debug-content div {
  padding: .3em 0;
  border-top: 1px dotted $color-primary-2-2;
}
.debug-content div:first-child {
  padding-top: 0;
  border-top: none;
}
.debug-head {
  min-width: 4.5rem;
  display: inline-block;
  font-weight: bold;
  font-size: .9rem;
}

.btn-balance-debug,
select,
input[type='number'] {
  font-family: $gothamrounded;
  padding: .4rem .6rem;
  border: 1px solid #ccc;
  border-radius: .4rem;
  margin-right: .3rem;
}
.debug select {
  width:90px;
  padding: .3rem .6rem;
  font-size: .7rem;
}
input[type='radio'] {
  transform: scale(1.2);
  margin-left:0;
}

label {
  font-size: .8rem;
  margin-right: 1rem;
}